.travel-options img{
    display: inline-block;
    width: 30%;
    height: 300px; 
    border-radius: 10px; 
    margin: 10px;
}
.travel-places{
    display: flex;
    padding: 20px;
    height: 800px;
}
.place-details{
    padding: 80px;
    width: 50%;
}
