.travel-options img{
    display: inline-block;
    width: 30%;
    height: 300px; 
    border-radius: 10px; 
    margin: 10px;
}
.section-devider{
    display: flex;
    padding: 20px;
    height: 800px;
}
.left-section{
    padding: 80px;
    width: 50%;
}
body{
    color: aliceblue;
}
